openapi: 3.0.3
info:
  description: |
    Welcome to the Svix API documentation!

    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)

    # Introduction

    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).

    ## Main concepts

    In Svix you have four important entities you will be interacting with:

    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.
    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.
    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).
    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.


    ## Authentication

    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).




    ## Code samples

    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).


    ## Idempotency

    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.

    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions.

    Svix's idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.

    Please note that idempotency is only supported for `POST` requests.


    ## Cross-Origin Resource Sharing

    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.
  title: Svix API
  version: 1.20.0
  x-logo:
    altText: Svix Logo
    url: https://www.svix.com/static/img/brand-padded.svg
servers:
- description: The Svix EU region
  url: https://api.eu.svix.com
- description: The Svix US region
  url: https://api.us.svix.com
tags:
- description: Endpoints are the URLs messages will be sent to. Each application can
    have multiple endpoints and each message sent to that application will be sent
    to all of them (unless they are not subscribed to the sent event type).
  name: Endpoint
- description: Attempts to deliver `Message`s to `Endpoint`s.
  name: Message Attempt
- description: Integrations are services your users connect an application to. An
    integration can manage the application and its endpoints.
  name: Integration
- description: Event types are identifiers denoting the type of message being sent.
    Event types are primarily used to decide which events are sent to which endpoint.
  name: Event Type
- description: Consumer Applications are where messages are sent to. In most cases
    you would want to have one application for each of your users.
  name: Application
- description: Messages are the webhook events being sent.
  name: Message
- description: Easily give your users access to our pre-built management UI.
  name: Authentication
- description: The background tasks that have been executed for your environment.
  name: Background Tasks
- description: Generate statistics about your Svix utilization
  name: Statistics
- description: Health checks for the API.
  name: Health
- description: The webhooks the Svix service sends to notify you of events.
  name: Webhooks
paths:
  /api/v1/auth/app-portal-access/{app_id}:
    post:
      description: Use this function to get magic links (and authentication codes)
        for connecting your users to the Consumer Application Portal.
      operationId: Authentication_obtainMagicLinkAndCode
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-auth-app-portal-access-app_id-post-parameters-0-schema
        style: simple
      - description: The request's idempotency key
        explode: false
        in: header
        name: idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPortalAccessIn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPortalAccessOut'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Get Consumer App Portal Access
      tags:
      - Authentication
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const appPortalAccessOut = await svix.authentication.appPortalAccess("app_id", {
              featureFlags: [],
              expiry: null
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const appPortalAccessOut = await svix.authentication.appPortalAccess("app_id", {
              featureFlags: [],
              expiry: null
          });
      - label: Python
        lang: Python
        source: |-
          app_portal_access_out = svix.authentication.app_portal_access("app_id", AppPortalAccessIn(
              feature_flags=[],
              expiry=None
          ), None)
      - label: Python (Async)
        lang: Python
        source: |-
          app_portal_access_out = await svix.authentication.app_portal_access("app_id", AppPortalAccessIn(
              feature_flags=[],
              expiry=None
          ), None)
      - label: Go
        lang: Go
        source: |-
          appPortalAccessOut, err := svixClient.Authentication.AppPortalAccess(ctx, "app_id", &AppPortalAccessIn{
              FeatureFlags: []interface{}{},
              Expiry: nil,
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val appPortalAccessOut = svix.authentication.appPortalAccess("app_id", AppPortalAccessIn()
              .featureFlags(arrayOf())
              .expiry(null)
          )
      - label: Java
        lang: Java
        source: |-
          AppPortalAccessOut appPortalAccessOut = svix.getAuthentication().appPortalAccess("app_id", new AppPortalAccessIn()
              .featureFlags(new Object[]{})
              .expiry(null)
          )
      - label: Ruby
        lang: Ruby
        source: |-
          app_portal_access_out = svix.authentication.app_portal_access("app_id", Svix::AppPortalAccessIn.new({
              "feature_flags": [],
              "expiry": nil
          }))
      - label: Rust
        lang: Rust
        source: |-
          let app_portal_access_out = svix.authentication().app_portal_access("app_id", AppPortalAccessIn {
              feature_flags: Some(vec![]),
              expiry: None,
          }, None).await?;
      - label: C#
        lang: C#
        source: |-
          var appPortalAccessOut = await svix.Authentication.AppPortalAccessAsync("app_id", new AppPortalAccessIn{
              featureFlags: new Object[] {},
              expiry: null
          })
      - label: CLI
        lang: Shell
        source: |-
          svix authentication app-portal-access "app_id" '{
              "featureFlags": [],
              "expiry": null
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'POST' \
            'https://api.eu.svix.com/api/v1/auth/app-portal-access/{app_id}/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "featureFlags": [],
                  "expiry": null
              }'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-auth-app-portal-access-app_id
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/auth/dashboard-access/{app_id}:
    post:
      deprecated: true
      description: |-
        DEPRECATED: Please use `app-portal-access` instead.

        Use this function to get magic links (and authentication codes) for connecting your users to the Consumer Application Portal.
      operationId: Authentication_generateMagicLink
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-auth-dashboard-access-app_id-post-parameters-0-schema
        style: simple
      - description: The request's idempotency key
        explode: false
        in: header
        name: idempotency-key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardAccessOut'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Dashboard Access
      tags:
      - Authentication
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const dashboardAccessOut = await svix.authentication.dashboardAccess("app_id");
      - label: TypeScript
        lang: JavaScript
        source: const dashboardAccessOut = await svix.authentication.dashboardAccess("app_id");
      - label: Python
        lang: Python
        source: "dashboard_access_out = svix.authentication.dashboard_access(\"app_id\"\
          , None)"
      - label: Python (Async)
        lang: Python
        source: "dashboard_access_out = await svix.authentication.dashboard_access(\"\
          app_id\", None)"
      - label: Go
        lang: Go
        source: "dashboardAccessOut, err := svixClient.Authentication.DashboardAccess(ctx,\
          \ \"app_id\")"
      - label: Kotlin
        lang: Kotlin
        source: val dashboardAccessOut = svix.authentication.dashboardAccess("app_id")
      - label: Java
        lang: Java
        source: DashboardAccessOut dashboardAccessOut = svix.getAuthentication().dashboardAccess("app_id")
      - label: Ruby
        lang: Ruby
        source: dashboard_access_out = svix.authentication.dashboard_access("app_id")
      - label: Rust
        lang: Rust
        source: "let dashboard_access_out = svix.authentication().dashboard_access(\"\
          app_id\", None).await?;"
      - label: C#
        lang: C#
        source: var dashboardAccessOut = await svix.Authentication.DashboardAccessAsync("app_id")
      - label: CLI
        lang: Shell
        source: svix authentication dashboard-access "app_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'POST' \
            'https://api.eu.svix.com/api/v1/auth/dashboard-access/{app_id}/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-auth-dashboard-access-app_id
      x-accepts: application/json
  /api/v1/auth/logout:
    post:
      description: |-
        Logout an app token.

        Trying to log out other tokens will fail.
      operationId: Authentication_revokeToken
      parameters:
      - description: The request's idempotency key
        explode: false
        in: header
        name: idempotency-key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Logout
      tags:
      - Authentication
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: await svix.authentication.logout();
      - label: TypeScript
        lang: JavaScript
        source: await svix.authentication.logout();
      - label: Python
        lang: Python
        source: svix.authentication.logout(None)
      - label: Python (Async)
        lang: Python
        source: await svix.authentication.logout(None)
      - label: Go
        lang: Go
        source: err := svixClient.Authentication.Logout(ctx)
      - label: Kotlin
        lang: Kotlin
        source: svix.authentication.logout()
      - label: Java
        lang: Java
        source: svix.getAuthentication().logout()
      - label: Ruby
        lang: Ruby
        source: svix.authentication.logout()
      - label: Rust
        lang: Rust
        source: svix.authentication().logout(None).await?;
      - label: C#
        lang: C#
        source: await svix.Authentication.LogoutAsync()
      - label: CLI
        lang: Shell
        source: 'svix authentication logout '
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'POST' \
            'https://api.eu.svix.com/api/v1/auth/logout/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-auth-logout
      x-accepts: application/json
  /api/v1/auth/app/{app_id}/expire-all:
    post:
      description: Expire all of the tokens associated with a specific Application
      operationId: Authentication_expireAppTokens
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-auth-app-app_id-expire-all-post-parameters-0-schema
        style: simple
      - description: The request's idempotency key
        explode: false
        in: header
        name: idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationTokenExpireIn'
        required: true
      responses:
        "204":
          description: no content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Expire All
      tags:
      - Authentication
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          await svix.authentication.expireAll("app_id", {
              expiry: 60
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          await svix.authentication.expireAll("app_id", {
              expiry: 60
          });
      - label: Python
        lang: Python
        source: |-
          svix.authentication.expire_all("app_id", ApplicationTokenExpireIn(
              expiry=60
          ), None)
      - label: Python (Async)
        lang: Python
        source: |-
          await svix.authentication.expire_all("app_id", ApplicationTokenExpireIn(
              expiry=60
          ), None)
      - label: Go
        lang: Go
        source: |-
          err := svixClient.Authentication.ExpireAll(ctx, "app_id", &ApplicationTokenExpireIn{
              Expiry: 60,
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          svix.authentication.expireAll("app_id", ApplicationTokenExpireIn()
              .expiry(60)
          )
      - label: Java
        lang: Java
        source: |-
          svix.getAuthentication().expireAll("app_id", new ApplicationTokenExpireIn()
              .expiry(60)
          )
      - label: Ruby
        lang: Ruby
        source: |-
          svix.authentication.expire_all("app_id", Svix::ApplicationTokenExpireIn.new({
              "expiry": 60
          }))
      - label: Rust
        lang: Rust
        source: |-
          svix.authentication().expire_all("app_id", ApplicationTokenExpireIn {
              expiry: Some(60),
          }, None).await?;
      - label: C#
        lang: C#
        source: |-
          await svix.Authentication.ExpireAllAsync("app_id", new ApplicationTokenExpireIn{
              expiry: 60
          })
      - label: CLI
        lang: Shell
        source: |-
          svix authentication expire-all "app_id" '{
              "expiry": 60
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'POST' \
            'https://api.eu.svix.com/api/v1/auth/app/{app_id}/expire-all/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "expiry": 60
              }'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-auth-app-app_id-expire-all
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/app:
    get:
      description: List of all the organization's applications.
      operationId: Application_listAll
      parameters:
      - description: Limit the number of returned items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Limit the number of returned items
          format: uint64
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: The iterator returned from a prior invocation
        explode: true
        in: query
        name: iterator
        required: false
        schema:
          description: The iterator returned from a prior invocation
          example: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
          nullable: true
          type: string
          x-konfig-original-example: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-get-parameters-1-schema
        style: form
      - description: The sorting order of the returned items
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/Ordering'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ApplicationOut_'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: List Applications
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const listResponseApplicationOut = await svix.application.list();
      - label: TypeScript
        lang: JavaScript
        source: const listResponseApplicationOut = await svix.application.list();
      - label: Python
        lang: Python
        source: list_response_application_out = svix.application.list(None)
      - label: Python (Async)
        lang: Python
        source: list_response_application_out = await svix.application.list(None)
      - label: Go
        lang: Go
        source: "listResponseApplicationOut, err := svixClient.Application.List(ctx,\
          \ nil)"
      - label: Kotlin
        lang: Kotlin
        source: val listResponseApplicationOut = svix.application.list()
      - label: Java
        lang: Java
        source: ListResponseApplicationOut listResponseApplicationOut = svix.getApplication().list()
      - label: Ruby
        lang: Ruby
        source: list_response_application_out = svix.application.list()
      - label: Rust
        lang: Rust
        source: let list_response_application_out = svix.application().list(None).await?;
      - label: C#
        lang: C#
        source: var listResponseApplicationOut = await svix.Application.ListAsync()
      - label: CLI
        lang: Shell
        source: 'svix application list '
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.eu.svix.com/api/v1/app/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-app
      x-accepts: application/json
    post:
      description: Create a new application.
      operationId: Application_createNewApplication
      parameters:
      - description: "Get an existing application, or create a new one if doesn't\
          \ exist. It's two separate functions in the libs."
        explode: true
        in: query
        name: get_if_exists
        required: false
        schema:
          default: false
          description: "Get an existing application, or create a new one if doesn't\
            \ exist. It's two separate functions in the libs."
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-post-parameters-0-schema
        style: form
      - description: The request's idempotency key
        explode: false
        in: header
        name: idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationIn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Create Application
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const applicationOut = await svix.application.create({
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const applicationOut = await svix.application.create({
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: Python
        lang: Python
        source: |-
          application_out = svix.application.create(ApplicationIn(
              name="My first application",
              rate_limit=None,
              uid="unique-app-identifier"
          ), None)
      - label: Python (Async)
        lang: Python
        source: |-
          application_out = await svix.application.create(ApplicationIn(
              name="My first application",
              rate_limit=None,
              uid="unique-app-identifier"
          ), None)
      - label: Go
        lang: Go
        source: |-
          applicationOut, err := svixClient.Application.Create(ctx, &ApplicationIn{
              Name: "My first application",
              RateLimit: nil,
              Uid: "unique-app-identifier",
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val applicationOut = svix.application.create(ApplicationIn()
              .name("My first application")
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Java
        lang: Java
        source: |-
          ApplicationOut applicationOut = svix.getApplication().create(new ApplicationIn()
              .name("My first application")
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Ruby
        lang: Ruby
        source: |-
          application_out = svix.application.create(Svix::ApplicationIn.new({
              "name": "My first application",
              "rate_limit": nil,
              "uid": "unique-app-identifier"
          }))
      - label: Rust
        lang: Rust
        source: |-
          let application_out = svix.application().create(ApplicationIn {
              name: "My first application".to_string(),
              rate_limit: None,
              uid: Some("unique-app-identifier".to_string()),
          }, None).await?;
      - label: C#
        lang: C#
        source: |-
          var applicationOut = await svix.Application.CreateAsync(new ApplicationIn{
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          })
      - label: CLI
        lang: Shell
        source: |-
          svix application create '{
              "name": "My first application",
              "rateLimit": null,
              "uid": "unique-app-identifier"
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'POST' \
            'https://api.eu.svix.com/api/v1/app/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "name": "My first application",
                  "rateLimit": null,
                  "uid": "unique-app-identifier"
              }'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-app
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/app/{app_id}:
    delete:
      description: Delete an application.
      operationId: Application_removeApp
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-delete-parameters-0-schema
        style: simple
      responses:
        "204":
          description: no content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Delete Application
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: await svix.application.delete("app_id");
      - label: TypeScript
        lang: JavaScript
        source: await svix.application.delete("app_id");
      - label: Python
        lang: Python
        source: svix.application.delete("app_id")
      - label: Python (Async)
        lang: Python
        source: await svix.application.delete("app_id")
      - label: Go
        lang: Go
        source: "err := svixClient.Application.Delete(ctx, \"app_id\")"
      - label: Kotlin
        lang: Kotlin
        source: svix.application.delete("app_id")
      - label: Java
        lang: Java
        source: svix.getApplication().delete("app_id")
      - label: Ruby
        lang: Ruby
        source: svix.application.delete("app_id")
      - label: Rust
        lang: Rust
        source: svix.application().delete("app_id").await?;
      - label: C#
        lang: C#
        source: await svix.Application.DeleteAsync("app_id")
      - label: CLI
        lang: Shell
        source: svix application delete "app_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'DELETE' \
            'https://api.eu.svix.com/api/v1/app/{app_id}/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v1-app-app_id
      x-accepts: application/json
    get:
      description: Get an application.
      operationId: Application_getById
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Get Application
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const applicationOut = await svix.application.get("app_id");
      - label: TypeScript
        lang: JavaScript
        source: const applicationOut = await svix.application.get("app_id");
      - label: Python
        lang: Python
        source: application_out = svix.application.get("app_id")
      - label: Python (Async)
        lang: Python
        source: application_out = await svix.application.get("app_id")
      - label: Go
        lang: Go
        source: "applicationOut, err := svixClient.Application.Get(ctx, \"app_id\"\
          )"
      - label: Kotlin
        lang: Kotlin
        source: val applicationOut = svix.application.get("app_id")
      - label: Java
        lang: Java
        source: ApplicationOut applicationOut = svix.getApplication().get("app_id")
      - label: Ruby
        lang: Ruby
        source: application_out = svix.application.get("app_id")
      - label: Rust
        lang: Rust
        source: let application_out = svix.application().get("app_id").await?;
      - label: C#
        lang: C#
        source: var applicationOut = await svix.Application.GetAsync("app_id")
      - label: CLI
        lang: Shell
        source: svix application get "app_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.eu.svix.com/api/v1/app/{app_id}/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-app-app_id
      x-accepts: application/json
    patch:
      description: Partially update an application.
      operationId: Application_partiallyUpdate
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-patch-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Patch Application
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const applicationOut = await svix.application.patch("app_id", {
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const applicationOut = await svix.application.patch("app_id", {
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: Python
        lang: Python
        source: |-
          application_out = svix.application.patch("app_id", ApplicationPatch(
              rate_limit=None,
              uid="unique-app-identifier"
          ))
      - label: Python (Async)
        lang: Python
        source: |-
          application_out = await svix.application.patch("app_id", ApplicationPatch(
              rate_limit=None,
              uid="unique-app-identifier"
          ))
      - label: Go
        lang: Go
        source: |-
          applicationOut, err := svixClient.Application.Patch(ctx, "app_id", &ApplicationPatch{
              RateLimit: nil,
              Uid: "unique-app-identifier",
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val applicationOut = svix.application.patch("app_id", ApplicationPatch()
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Java
        lang: Java
        source: |-
          ApplicationOut applicationOut = svix.getApplication().patch("app_id", new ApplicationPatch()
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Ruby
        lang: Ruby
        source: |-
          application_out = svix.application.patch("app_id", Svix::ApplicationPatch.new({
              "rate_limit": nil,
              "uid": "unique-app-identifier"
          }))
      - label: Rust
        lang: Rust
        source: |-
          let application_out = svix.application().patch("app_id", ApplicationPatch {
              rate_limit: None,
              uid: Some("unique-app-identifier".to_string()),
          }).await?;
      - label: C#
        lang: C#
        source: |-
          var applicationOut = await svix.Application.PatchAsync("app_id", new ApplicationPatch{
              rateLimit: null,
              uid: "unique-app-identifier"
          })
      - label: CLI
        lang: Shell
        source: |-
          svix application patch "app_id" '{
              "rateLimit": null,
              "uid": "unique-app-identifier"
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'PATCH' \
            'https://api.eu.svix.com/api/v1/app/{app_id}/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "rateLimit": null,
                  "uid": "unique-app-identifier"
              }'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--api-v1-app-app_id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: Update an application.
      operationId: Application_updateApp
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationIn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Update Application
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const applicationOut = await svix.application.update("app_id", {
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const applicationOut = await svix.application.update("app_id", {
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: Python
        lang: Python
        source: |-
          application_out = svix.application.update("app_id", ApplicationIn(
              name="My first application",
              rate_limit=None,
              uid="unique-app-identifier"
          ))
      - label: Python (Async)
        lang: Python
        source: |-
          application_out = await svix.application.update("app_id", ApplicationIn(
              name="My first application",
              rate_limit=None,
              uid="unique-app-identifier"
          ))
      - label: Go
        lang: Go
        source: |-
          applicationOut, err := svixClient.Application.Update(ctx, "app_id", &ApplicationIn{
              Name: "My first application",
              RateLimit: nil,
              Uid: "unique-app-identifier",
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val applicationOut = svix.application.update("app_id", ApplicationIn()
              .name("My first application")
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Java
        lang: Java
        source: |-
          ApplicationOut applicationOut = svix.getApplication().update("app_id", new ApplicationIn()
              .name("My first application")
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Ruby
        lang: Ruby
        source: |-
          application_out = svix.application.update("app_id", Svix::ApplicationIn.new({
              "name": "My first application",
              "rate_limit": nil,
              "uid": "unique-app-identifier"
          }))
      - label: Rust
        lang: Rust
        source: |-
          let application_out = svix.application().update("app_id", ApplicationIn {
              name: "My first application".to_string(),
              rate_limit: None,
              uid: Some("unique-app-identifier".to_string()),
          }).await?;
      - label: C#
        lang: C#
        source: |-
          var applicationOut = await svix.Application.UpdateAsync("app_id", new ApplicationIn{
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          })
      - label: CLI
        lang: Shell
        source: |-
          svix application update "app_id" '{
              "name": "My first application",
              "rateLimit": null,
              "uid": "unique-app-identifier"
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'PUT' \
            'https://api.eu.svix.com/api/v1/app/{app_id}/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "name": "My first application",
                  "rateLimit": null,
                  "uid": "unique-app-identifier"
              }'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v1-app-app_id
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/app/{app_id}/endpoint:
    get:
      description: List the application's endpoints.
      operationId: Endpoint_listEndpoints
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-get-parameters-0-schema
        style: simple
      - description: Limit the number of returned items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Limit the number of returned items
          format: uint64
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: The iterator returned from a prior invocation
        explode: true
        in: query
        name: iterator
        required: false
        schema:
          description: The iterator returned from a prior invocation
          example: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
          nullable: true
          type: string
          x-konfig-original-example: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-get-parameters-2-schema
        style: form
      - description: The sorting order of the returned items
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/Ordering'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_EndpointOut_'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: List Endpoints
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const listResponseEndpointOut = await svix.endpoint.list("app_id");
      - label: TypeScript
        lang: JavaScript
        source: const listResponseEndpointOut = await svix.endpoint.list("app_id");
      - label: Python
        lang: Python
        source: "list_response_endpoint_out = svix.endpoint.list(\"app_id\", None)"
      - label: Python (Async)
        lang: Python
        source: "list_response_endpoint_out = await svix.endpoint.list(\"app_id\"\
          , None)"
      - label: Go
        lang: Go
        source: "listResponseEndpointOut, err := svixClient.Endpoint.List(ctx, \"\
          app_id\", nil)"
      - label: Kotlin
        lang: Kotlin
        source: val listResponseEndpointOut = svix.endpoint.list("app_id")
      - label: Java
        lang: Java
        source: ListResponseEndpointOut listResponseEndpointOut = svix.getEndpoint().list("app_id")
      - label: Ruby
        lang: Ruby
        source: list_response_endpoint_out = svix.endpoint.list("app_id")
      - label: Rust
        lang: Rust
        source: "let list_response_endpoint_out = svix.endpoint().list(\"app_id\"\
          , None).await?;"
      - label: C#
        lang: C#
        source: var listResponseEndpointOut = await svix.Endpoint.ListAsync("app_id")
      - label: CLI
        lang: Shell
        source: svix endpoint list "app_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-app-app_id-endpoint
      x-accepts: application/json
    post:
      description: |-
        Create a new endpoint for the application.

        When `secret` is `null` the secret is automatically generated (recommended)
      operationId: Endpoint_createNew
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-post-parameters-0-schema
        style: simple
      - description: The request's idempotency key
        explode: false
        in: header
        name: idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointIn'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Create Endpoint
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const endpointOut = await svix.endpoint.create("app_id", {
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: ["user.signup", "user.deleted"],
              channels: ["project_123", "group_2"],
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const endpointOut = await svix.endpoint.create("app_id", {
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: ["user.signup", "user.deleted"],
              channels: ["project_123", "group_2"],
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          });
      - label: Python
        lang: Python
        source: |-
          endpoint_out = svix.endpoint.create("app_id", EndpointIn(
              description="An example endpoint name",
              rate_limit=None,
              uid="unique-ep-identifier",
              url="https://example.com/webhook/",
              version=1,
              disabled=False,
              filter_types=["user.signup", "user.deleted"],
              channels=["project_123", "group_2"],
              secret="whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          ), None)
      - label: Python (Async)
        lang: Python
        source: |-
          endpoint_out = await svix.endpoint.create("app_id", EndpointIn(
              description="An example endpoint name",
              rate_limit=None,
              uid="unique-ep-identifier",
              url="https://example.com/webhook/",
              version=1,
              disabled=False,
              filter_types=["user.signup", "user.deleted"],
              channels=["project_123", "group_2"],
              secret="whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          ), None)
      - label: Go
        lang: Go
        source: |-
          endpointOut, err := svixClient.Endpoint.Create(ctx, "app_id", &EndpointIn{
              Description: "An example endpoint name",
              RateLimit: nil,
              Uid: "unique-ep-identifier",
              Url: "https://example.com/webhook/",
              Version: 1,
              Disabled: false,
              FilterTypes: []string{"user.signup", "user.deleted"},
              Channels: []string{"project_123", "group_2"},
              Secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD",
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val endpointOut = svix.endpoint.create("app_id", EndpointIn()
              .description("An example endpoint name")
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .url("https://example.com/webhook/")
              .version(1)
              .disabled(false)
              .filterTypes(arrayOf("user.signup", "user.deleted"))
              .channels(arrayOf("project_123", "group_2"))
              .secret("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD")
          )
      - label: Java
        lang: Java
        source: |-
          EndpointOut endpointOut = svix.getEndpoint().create("app_id", new EndpointIn()
              .description("An example endpoint name")
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .url("https://example.com/webhook/")
              .version(1)
              .disabled(false)
              .filterTypes(new String[]{"user.signup", "user.deleted"})
              .channels(new String[]{"project_123", "group_2"})
              .secret("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD")
          )
      - label: Ruby
        lang: Ruby
        source: |-
          endpoint_out = svix.endpoint.create("app_id", Svix::EndpointIn.new({
              "description": "An example endpoint name",
              "rate_limit": nil,
              "uid": "unique-ep-identifier",
              "url": "https://example.com/webhook/",
              "version": 1,
              "disabled": false,
              "filter_types": ["user.signup", "user.deleted"],
              "channels": ["project_123", "group_2"],
              "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          }))
      - label: Rust
        lang: Rust
        source: |-
          let endpoint_out = svix.endpoint().create("app_id", EndpointIn {
              description: Some("An example endpoint name".to_string()),
              rate_limit: None,
              uid: Some("unique-ep-identifier".to_string()),
              url: "https://example.com/webhook/".to_string(),
              version: Some(1),
              disabled: Some(false),
              filter_types: Some(vec!["user.signup".to_string(), "user.deleted".to_string()]),
              channels: Some(vec!["project_123".to_string(), "group_2".to_string()]),
              secret: Some("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD".to_string()),
          }, None).await?;
      - label: C#
        lang: C#
        source: |-
          var endpointOut = await svix.Endpoint.CreateAsync("app_id", new EndpointIn{
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: new string[] {"user.signup", "user.deleted"},
              channels: new string[] {"project_123", "group_2"},
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          })
      - label: CLI
        lang: Shell
        source: |-
          svix endpoint create "app_id" '{
              "description": "An example endpoint name",
              "rateLimit": null,
              "uid": "unique-ep-identifier",
              "url": "https://example.com/webhook/",
              "version": 1,
              "disabled": false,
              "filterTypes": ["user.signup", "user.deleted"],
              "channels": ["project_123", "group_2"],
              "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'POST' \
            'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "description": "An example endpoint name",
                  "rateLimit": null,
                  "uid": "unique-ep-identifier",
                  "url": "https://example.com/webhook/",
                  "version": 1,
                  "disabled": false,
                  "filterTypes": ["user.signup", "user.deleted"],
                  "channels": ["project_123", "group_2"],
                  "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
              }'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-app-app_id-endpoint
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/app/{app_id}/endpoint/{endpoint_id}:
    delete:
      description: Delete an endpoint.
      operationId: Endpoint_remove
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-endpoint_id-delete-parameters-0-schema
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-ep-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-endpoint_id-delete-parameters-1-schema
        style: simple
      responses:
        "204":
          description: no content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Delete Endpoint
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: "await svix.endpoint.delete(\"app_id\", \"endpoint_id\");"
      - label: TypeScript
        lang: JavaScript
        source: "await svix.endpoint.delete(\"app_id\", \"endpoint_id\");"
      - label: Python
        lang: Python
        source: "svix.endpoint.delete(\"app_id\", \"endpoint_id\")"
      - label: Python (Async)
        lang: Python
        source: "await svix.endpoint.delete(\"app_id\", \"endpoint_id\")"
      - label: Go
        lang: Go
        source: "err := svixClient.Endpoint.Delete(ctx, \"app_id\", \"endpoint_id\"\
          )"
      - label: Kotlin
        lang: Kotlin
        source: "svix.endpoint.delete(\"app_id\", \"endpoint_id\")"
      - label: Java
        lang: Java
        source: "svix.getEndpoint().delete(\"app_id\", \"endpoint_id\")"
      - label: Ruby
        lang: Ruby
        source: "svix.endpoint.delete(\"app_id\", \"endpoint_id\")"
      - label: Rust
        lang: Rust
        source: "svix.endpoint().delete(\"app_id\", \"endpoint_id\").await?;"
      - label: C#
        lang: C#
        source: "await svix.Endpoint.DeleteAsync(\"app_id\", \"endpoint_id\")"
      - label: CLI
        lang: Shell
        source: svix endpoint delete "app_id" "endpoint_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'DELETE' \
            'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-v1-app-app_id-endpoint-endpoint_id
      x-accepts: application/json
    get:
      description: Get an endpoint.
      operationId: Endpoint_getEndpoint
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-endpoint_id-get-parameters-0-schema
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-ep-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-endpoint_id-get-parameters-1-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Get Endpoint
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: "const endpointOut = await svix.endpoint.get(\"app_id\", \"endpoint_id\"\
          );"
      - label: TypeScript
        lang: JavaScript
        source: "const endpointOut = await svix.endpoint.get(\"app_id\", \"endpoint_id\"\
          );"
      - label: Python
        lang: Python
        source: "endpoint_out = svix.endpoint.get(\"app_id\", \"endpoint_id\")"
      - label: Python (Async)
        lang: Python
        source: "endpoint_out = await svix.endpoint.get(\"app_id\", \"endpoint_id\"\
          )"
      - label: Go
        lang: Go
        source: "endpointOut, err := svixClient.Endpoint.Get(ctx, \"app_id\", \"endpoint_id\"\
          )"
      - label: Kotlin
        lang: Kotlin
        source: "val endpointOut = svix.endpoint.get(\"app_id\", \"endpoint_id\")"
      - label: Java
        lang: Java
        source: "EndpointOut endpointOut = svix.getEndpoint().get(\"app_id\", \"endpoint_id\"\
          )"
      - label: Ruby
        lang: Ruby
        source: "endpoint_out = svix.endpoint.get(\"app_id\", \"endpoint_id\")"
      - label: Rust
        lang: Rust
        source: "let endpoint_out = svix.endpoint().get(\"app_id\", \"endpoint_id\"\
          ).await?;"
      - label: C#
        lang: C#
        source: "var endpointOut = await svix.Endpoint.GetAsync(\"app_id\", \"endpoint_id\"\
          )"
      - label: CLI
        lang: Shell
        source: svix endpoint get "app_id" "endpoint_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-app-app_id-endpoint-endpoint_id
      x-accepts: application/json
    patch:
      description: Partially update an endpoint.
      operationId: Endpoint_partiallyUpdate
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-endpoint_id-patch-parameters-0-schema
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-ep-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-endpoint_id-patch-parameters-1-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Patch Endpoint
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const endpointOut = await svix.endpoint.patch("app_id", "endpoint_id", {
              rateLimit: null,
              uid: "unique-ep-identifier",
              version: 1,
              filterTypes: null,
              channels: null,
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const endpointOut = await svix.endpoint.patch("app_id", "endpoint_id", {
              rateLimit: null,
              uid: "unique-ep-identifier",
              version: 1,
              filterTypes: null,
              channels: null,
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          });
      - label: Python
        lang: Python
        source: |-
          endpoint_out = svix.endpoint.patch("app_id", "endpoint_id", EndpointPatch(
              rate_limit=None,
              uid="unique-ep-identifier",
              version=1,
              filter_types=None,
              channels=None,
              secret="whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          ))
      - label: Python (Async)
        lang: Python
        source: |-
          endpoint_out = await svix.endpoint.patch("app_id", "endpoint_id", EndpointPatch(
              rate_limit=None,
              uid="unique-ep-identifier",
              version=1,
              filter_types=None,
              channels=None,
              secret="whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          ))
      - label: Go
        lang: Go
        source: |-
          endpointOut, err := svixClient.Endpoint.Patch(ctx, "app_id", "endpoint_id", &EndpointPatch{
              RateLimit: nil,
              Uid: "unique-ep-identifier",
              Version: 1,
              FilterTypes: nil,
              Channels: nil,
              Secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD",
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val endpointOut = svix.endpoint.patch("app_id", "endpoint_id", EndpointPatch()
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .version(1)
              .filterTypes(null)
              .channels(null)
              .secret("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD")
          )
      - label: Java
        lang: Java
        source: |-
          EndpointOut endpointOut = svix.getEndpoint().patch("app_id", "endpoint_id", new EndpointPatch()
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .version(1)
              .filterTypes(null)
              .channels(null)
              .secret("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD")
          )
      - label: Ruby
        lang: Ruby
        source: |-
          endpoint_out = svix.endpoint.patch("app_id", "endpoint_id", Svix::EndpointPatch.new({
              "rate_limit": nil,
              "uid": "unique-ep-identifier",
              "version": 1,
              "filter_types": nil,
              "channels": nil,
              "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          }))
      - label: Rust
        lang: Rust
        source: |-
          let endpoint_out = svix.endpoint().patch("app_id", "endpoint_id", EndpointPatch {
              rate_limit: None,
              uid: Some("unique-ep-identifier".to_string()),
              version: Some(1),
              filter_types: None,
              channels: None,
              secret: Some("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD".to_string()),
          }).await?;
      - label: C#
        lang: C#
        source: |-
          var endpointOut = await svix.Endpoint.PatchAsync("app_id", "endpoint_id", new EndpointPatch{
              rateLimit: null,
              uid: "unique-ep-identifier",
              version: 1,
              filterTypes: null,
              channels: null,
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          })
      - label: CLI
        lang: Shell
        source: |-
          svix endpoint patch "app_id" "endpoint_id" '{
              "rateLimit": null,
              "uid": "unique-ep-identifier",
              "version": 1,
              "filterTypes": null,
              "channels": null,
              "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'PATCH' \
            'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}/' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "rateLimit": null,
                  "uid": "unique-ep-identifier",
                  "version": 1,
                  "filterTypes": null,
                  "channels": null,
                  "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
              }'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--api-v1-app-app_id-endpoint-endpoint_id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: Update an endpoint.
      operationId: Endpoint_updateEndpoint
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-app-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-endpoint_id-put-parameters-0-schema
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_.]+$"
          type: string
          x-konfig-original-example: unique-ep-identifier
          x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-app-app_id-endpoint-endpoint_id-put-parameters-1-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Update Endpoint
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const endpointOut = await svix.endpoint.update("app_id", "endpoint_id", {
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: ["user.signup", "user.deleted"],
              channels: ["project_123", "group_2"]
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const endpointOut = await svix.endpoint.update("app_id", "endpoint_id", {
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: ["user.signup", "user.deleted"],
              channels: ["project_123", "group_2"]
          });
      - label: Python
        lang: Python
        source: |-
          endpoint_out = svix.endpoint.update("app_id", "endpoint_id", EndpointUpdate(
              description="An example endpoint name",
              rate_limit=None,
              uid="unique-ep-identifier",
              url="https://example.com/webhook/",
              version=1,
              disabled=False,
              filter_types=["user.signup", "user.deleted"],
              channels=["project_123", "group_2"]
          ))
      - label: Python (Async)
        lang: Python
        source: |-
          endpoint_out = await svix.endpoint.update("app_id", "endpoint_id", EndpointUpdate(
              description="An example endpoint name",
              rate_limit=None,
              uid="unique-ep-identifier",
              url="https://example.com/webhook/",
              version=1,
              disabled=False,
              filter_types=["user.signup", "user.deleted"],
              channels=["project_123", "group_2"]
          ))
      - label: Go
        lang: Go
        source: |-
          endpointOut, err := svixClient.Endpoint.Update(ctx, "app_id", "endpoint_id", &EndpointUpdate{
              Description: "An example endpoint name",
              RateLimit: nil,
              Uid: "unique-ep-identifier",
              Url: "https://example.com/webhook/",
              Version: 1,
              Disabled: false,
              FilterTypes: []string{"user.signup", "user.deleted"},
              Channels: []string{"project_123", "group_2"},
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val endpointOut = svix.endpoint.update("app_id", "endpoint_id", EndpointUpdate()
              .description("An example endpoint name")
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .url("https://example.com/webhook/")
              .version(1)
              .disabled(false)
              .filterTypes(arrayOf("user.signup", "user.deleted"))
              .channels(arrayOf("project_123", "group_2"))
          )
      - label: Java
        lang: Java
        source: |-
          EndpointOut endpointOut = svix.getEndpoint().update("app_id", "endpoint_id", new EndpointUpdate()
              .description("An example endpoint name")
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .url("https://example.com/webhook/")
              .version(1)
              .disabled(false)
              .filterTypes(new String[]{"user.signup", "user.deleted"})
              .channels(new String[]{"project_123", "group_2"})
          )
      - label: Ruby
        lang: Ruby
        source: |-
          endpoint_out = svix.endpoint.update("app_id", "endpoint_id", Svix::EndpointUpdate.new({
              "description": "An example endpoint name",
              "rate_limit": nil,
              "uid": "unique-ep-identifier",
              "url": "https://example.com/webhook/",
              "version": 1,
              "disabled": false,
              "filter_types": ["user.signup", "user.deleted"],
              "channels": ["project_123", "group_2"]
          }))
      - label: Rust
        lang: Rust
        source: |-
          let endpoint_out = svix.endpoint().update("app_id", "endpoint_id", EndpointUpdate {
              description: Some("An example endpoint name".to_string()),
              rate_limit: None,
              uid: Some("unique-ep-identifier".to_string()),
              url: "https://example.com/webhook/".to_string(),
              version: Some(1),
              disabled: Some(false),
              filter_types: Some(vec!["user.signup".to_string(), "user.deleted".to_string()]),
              channels: Some(vec!["project_123".to_string(), "group_2".to_string()]),
          }).await?;
      - label: C#
[...]
